cfsoap/src/main/resources/wsdl/createEmployee.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="createEmployee"
	targetNamespace="http://www.example.org/Employee" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.example.org/Employee" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	
	<wsdl:types>
		<!-- <xsd:schema targetNamespace="http://www.example.org/createEmployee/">
			<xsd:import schemaLocation="..\schema\Employee.xsd"/>
		</xsd:schema> -->
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
					targetNamespace="http://www.example.org/Employee"> 

    <xsd:element name="Employee">
    <xsd:complexType>
    	<xsd:sequence>
    		<xsd:element name="fname" type="string" maxOccurs="1" minOccurs="1"></xsd:element>
    		<xsd:element name="lname" type="string" maxOccurs="1" minOccurs="1"></xsd:element>
    		<xsd:element name="salary" type="double" maxOccurs="1" minOccurs="1"></xsd:element>
    		<xsd:element name="type" type="string" maxOccurs="1" minOccurs="1"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
	</xsd:element>
	
    <xsd:element name="EmployeeResponse">
	    <xsd:complexType>
	    	<xsd:sequence>
	    		<xsd:element name="EmpId" type="string" maxOccurs="1" minOccurs="1">
	    		</xsd:element>
	    		<xsd:element name="type" type="string" maxOccurs="1" minOccurs="1"></xsd:element>
	    	</xsd:sequence>
	    </xsd:complexType>
    </xsd:element>
</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="addEmployeeRequest">
		<wsdl:part name="Employee" element="tns:Employee"/>
	</wsdl:message>
	<wsdl:message name="addEmployeeResponse">
		<wsdl:part name="EmployeeResponse" element="tns:EmployeeResponse"/>
	</wsdl:message>
	
	<wsdl:portType name="addEmployeePortType">
		<wsdl:operation name="addEmployee">
			<wsdl:input message="tns:addEmployeeRequest"/>
			<wsdl:output message="tns:addEmployeeResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="addEmp_Binding" type="tns:addEmployeePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="addEmployee">
			<soap:operation style="document" soapAction="http://www.example.org/createEmployee/addEmployee" />
			<wsdl:input >
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output >
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		</wsdl:binding>

	<wsdl:service name="addEmployeeService">		<wsdl:port name="addEmployeePort" binding="tns:addEmp_Binding">
			<soap:address
				location="http://localhost:8080/service/addEmployee" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>